@model ICollection<Eventis.Models.Eventis.Category>
@{
    ViewBag.Title = "Categories";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <br />
        <div class="jumbotron" >

            <h1 class="text-center"> Categories</h1>
            <br />
            <br />
            <div class="row">
                @foreach (var category in Model)
                {
                    <div class="col-md-4">
                        <h2 class="text-center" class="text-primary">@category.Name</h2>
                        <br />
                        <br />
                        @foreach (var gen in category.Genres)
                        {
                            <div>
                                <p class="text-center">
                                    <a href="/Home/Genres/@gen.Id" class="btn btn-primary btn-lg" style="width:125px" >@gen.Name</a>
                                </p>
                                <br />
                            </div>
                        }
                    </div>
                }
                <br />
            </div>
        </div>
    </div>
</body>
</html>
