<!DOCTYPE html>
@model ICollection<Eventis.Models.Eventis.City>
@{
    ViewBag.Title = "Cities";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="row" style="margin:50px">
        <div class="col-md-1"></div>
        @foreach (var city in Model)
        {
            <div class="col-md-2">
                <h2>@city.Name</h2>
            </div>
        }
    </div>
    <div class="row" style="margin:50px">
        <div class="col-md-1"></div>
        @foreach (var city in Model)
        {
            <div class="col-md-2">
                @foreach (var hall in city.Halls)
                {
                    @hall.Name
                    <br />
                }
            </div>
        }
    </div>
</body>
</html>
