<!DOCTYPE html>
@model ICollection<Eventis.Models.Eventis.City>
@{
    ViewBag.Title = "Cities";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <br />
        <div class="jumbotron">
            <h1 class="text-center"> CITIES</h1>
            <div class="row" style="margin-top:50px">
                <div class="col-md-1"></div>

                @foreach (var city in Model)
                {
                    <div class="col-md-2 text-center">
                        <h2 class="text-primary">@city.Name</h2>

                    </div>
                }
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                @foreach (var city in Model)
                {
                    <div class="col-md-2">
                        @if (!Model.Any())
                         {
                            <h2 class="text-center">There is no Halls for this City!</h2>
                        }
                        @foreach (var hall in city.Halls)
                        {
                            <div>
                                <p class="text-center">
                                    <a href="Halls/@hall.Id" class="btn btn-primary" style="width:145px">@hall.Name</a>
                                </p>
                                <br />
                            </div>
                        }
                    </div>
                }
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</body>
</html>
