@{
    ViewBag.Title = "Home Page";
}



<section class="carousel carousel-fade slide home-slider" id="fullslider" data-ride="carousel" data-interval="4500" data-pause="false">
    <!-- Carousel-Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#fullslider" data-slide-to="0" class=""></li>
        <li data-target="#fullslider" data-slide-to="1" class="active"></li>
        <li data-target="#fullslider" data-slide-to="2" class=""></li>
        <li data-target="#fullslider" data-slide-to="3" class=""></li>
    </ol>
    <!-- Carousel-Inner -->
    <div class="carousel-inner">
        <div class="item bg1">
            <div class="banner-overlay">
                <!-- Slide - 1 -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-8 col-xs-12 animated notranstion">
                            <br class="hidden-sm hidden-xs">
                            <div class="wow animated" data-wow-duration="1500ms" data-wow-delay="100ms" style="visibility: visible;-webkit-animation-duration: 1500ms; -moz-animation-duration: 1500ms; animation-duration: 1500ms;-webkit-animation-delay: 100ms; -moz-animation-delay: 100ms; animation-delay: 100ms;">
                                <h1 class="carouselText1 text-left wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="150ms" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 150ms; -moz-animation-delay: 150ms; animation-delay: 150ms;">Powerfull Multi-Purpose Business Template</h1>
                                <p class="wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 200ms; -moz-animation-delay: 200ms; animation-delay: 200ms;">
                                   Create your own event
                                </p>
                                <br>
                                <div class="text-left buttonleft hidden-xs">
                                    <a href="#" class="btn btn-lg btn-borderwhite wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1200ms" style="visibility: visible;-webkit-animation-duration: 1500ms; -moz-animation-duration: 1500ms; animation-duration: 1500ms;-webkit-animation-delay: 1200ms; -moz-animation-delay: 1200ms; animation-delay: 1200ms;">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 hidden-xs animated">
                            <img src="img/slider/slide1-1.png" alt="" class="slide1-1 wow  fadeInRight animated" style="visibility: visible;">
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Slide - 1 -->
        <div class="item bg2 active">
            <div class="banner-overlay">
                <!-- Slide - 2 -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-4 hidden-xs animated">
                            <img src="img/slider/slide1-1.png" alt="" class="slide1-2 wow fadeInLeft img-responsive animated" style="visibility: visible;">
                        </div>
                        <div class="col-md-6 col-sm-8 col-xs-12 animated text-right">
                            <br class="hidden-sm hidden-xs">
                            <h3 class="carouselText2 wow fadeInDown animated" data-wow-duration="600ms" data-wow-delay="100ms" style="visibility: visible;-webkit-animation-duration: 600ms; -moz-animation-duration: 600ms; animation-duration: 600ms;-webkit-animation-delay: 100ms; -moz-animation-delay: 100ms; animation-delay: 100ms;">
                                Html5 &amp; Css3
                            </h3>
                            <br>
                            <div class="car-highlight1 wow fadeInUp text-left animated" data-wow-duration="300ms" data-wow-delay="0ms" style="visibility: visible;-webkit-animation-duration: 300ms; -moz-animation-duration: 300ms; animation-duration: 300ms;-webkit-animation-delay: 0ms; -moz-animation-delay: 0ms; animation-delay: 0ms;">
                                Bootstrap is completely free to download!
                            </div>
                            <br>
                            <div class="car-highlight2 wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="150ms" style="visibility: visible;-webkit-animation-duration: 1200ms; -moz-animation-duration: 1200ms; animation-duration: 1200ms;-webkit-animation-delay: 150ms; -moz-animation-delay: 150ms; animation-delay: 150ms;">
                                Bootstrap Text/Typography, Bootstrap Tables
                            </div>
                            <br>
                            <div class="car-highlight3 wow fadeInUp animated" data-wow-duration="1800ms" data-wow-delay="300ms" style="visibility: visible;-webkit-animation-duration: 1800ms; -moz-animation-duration: 1800ms; animation-duration: 1800ms;-webkit-animation-delay: 300ms; -moz-animation-delay: 300ms; animation-delay: 300ms;">
                                Bootstrap Button Groups Total Control Bootstrap allows you to group a series of buttons.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Slide - 2 -->
        <div class="item bg3">
            <div class="banner-overlay">
                <!-- Slide - 3 -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center animated">
                            <h1 class="carouselText1 wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="150ms" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 150ms; -moz-animation-delay: 150ms; animation-delay: 150ms;">Our CleanDesign Gives you More Flexibility For You</h1>
                            <ul class="list-unstyled car-mediumtext2">
                                <li>
                                    <h3 class="car-highlight1 wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="300ms" style="visibility: visible;-webkit-animation-duration: 1200ms; -moz-animation-duration: 1200ms; animation-duration: 1200ms;-webkit-animation-delay: 300ms; -moz-animation-delay: 300ms; animation-delay: 300ms;">
                                        Clean Code + Design
                                    </h3>
                                </li>
                                <li>
                                    <h3 class="car-highlight2 hidden-xs wow fadeInDown animated" data-wow-duration="1800ms" data-wow-delay="600ms" style="visibility: visible;-webkit-animation-duration: 1800ms; -moz-animation-duration: 1800ms; animation-duration: 1800ms;-webkit-animation-delay: 600ms; -moz-animation-delay: 600ms; animation-delay: 600ms;">
                                        Simple One Page Template
                                    </h3>
                                </li>
                                <li>
                                    <h3 class="car-highlight3 wow fadeInDown animated" data-wow-duration="2400ms" data-wow-delay="900ms" style="visibility: visible;-webkit-animation-duration: 2400ms; -moz-animation-duration: 2400ms; animation-duration: 2400ms;-webkit-animation-delay: 900ms; -moz-animation-delay: 900ms; animation-delay: 900ms;">
                                        CleanDesign Comes with 2 Models
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Slide - 3 -->
        <div class="item bg4">
            <!-- Slide - 4 -->
            <div class="banner-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-4  hidden-xs animated">
                            <img src="img/slider/slide1-1.png" alt="" class="slide1-2 wow fadeInLeft img-responsive animated" style="visibility: visible;">
                        </div>
                        <div class="col-md-6 col-sm-8 col-xs-12 animated">
                            <div class="wow animated" data-wow-duration="1500ms" data-wow-delay="100ms" style="visibility: visible;-webkit-animation-duration: 1500ms; -moz-animation-duration: 1500ms; animation-duration: 1500ms;-webkit-animation-delay: 100ms; -moz-animation-delay: 100ms; animation-delay: 100ms;">
                                <br>
                                <h1 class="carouselText1 col-gapall wow zoomIn animated" data-wow-duration="1500ms" data-wow-delay="500ms" style="visibility: visible;-webkit-animation-duration: 1500ms; -moz-animation-duration: 1500ms; animation-duration: 1500ms;-webkit-animation-delay: 500ms; -moz-animation-delay: 500ms; animation-delay: 500ms;">This Is a Great Place to Introduce </h1>
                                <br>
                                <ul class="list-unstyled car-mediumtext">
                                    <li class="wow fadeInRight animated" data-wow-duration="1500ms" data-wow-delay="100ms" style="visibility: visible;-webkit-animation-duration: 1500ms; -moz-animation-duration: 1500ms; animation-duration: 1500ms;-webkit-animation-delay: 100ms; -moz-animation-delay: 100ms; animation-delay: 100ms;"><i class="fa fa-check-square wow fadeInDown animated" data-wow-duration="1500ms" data-wow-delay="100ms" style="visibility: visible;-webkit-animation-duration: 1500ms; -moz-animation-duration: 1500ms; animation-duration: 1500ms;-webkit-animation-delay: 100ms; -moz-animation-delay: 100ms; animation-delay: 100ms;"></i> Bootstrap is completely free to download!..</li>
                                    <li class="wow fadeInRight animated" data-wow-duration="1500ms" data-wow-delay="500ms" style="visibility: visible;-webkit-animation-duration: 1500ms; -moz-animation-duration: 1500ms; animation-duration: 1500ms;-webkit-animation-delay: 500ms; -moz-animation-delay: 500ms; animation-delay: 500ms;">
                                        <i class="fa fa-check-square wow fadeInDown animated" data-wow-duration="1500ms" data-wow-delay="100ms" style="visibility: visible;-webkit-animation-duration: 1500ms; -moz-animation-duration: 1500ms; animation-duration: 1500ms;-webkit-animation-delay: 100ms; -moz-animation-delay: 100ms; animation-delay: 100ms;"></i>
                                        Bootstrap Text/Typography, Bootstrap Tables....
                                    </li>
                                    <li class="wow fadeInRight animated" data-wow-duration="1500ms" data-wow-delay="1000ms" style="visibility: visible;-webkit-animation-duration: 1500ms; -moz-animation-duration: 1500ms; animation-duration: 1500ms;-webkit-animation-delay: 1000ms; -moz-animation-delay: 1000ms; animation-delay: 1000ms;">
                                        <i class="fa fa-check-square wow fadeInDown animated" data-wow-duration="1500ms" data-wow-delay="100ms" style="visibility: visible;-webkit-animation-duration: 1500ms; -moz-animation-duration: 1500ms; animation-duration: 1500ms;-webkit-animation-delay: 100ms; -moz-animation-delay: 100ms; animation-delay: 100ms;"></i>
                                        Bootstrap Button Groups Total Control bootstrap allows you to group a series of buttons.
                                    </li>
                                </ul>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Slide - 4 -->
    </div>
    <!-- End Carousel-Inner -->
    <!-- Carousel - Control -->
    <a class="left carousel-control animated fadeInLeft" href="#fullslider" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
    <a class="right carousel-control animated fadeInRight" href="#fullslider" data-slide="next"><i class="fa fa-chevron-right"></i></a>
</section>